body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #001077, #696fc2);
    /* background-color: #00217b; */
}

.container {
    max-width: 1000px;
    max-height: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.movie-card {
    display: inline-block;
    /* Changed to inline-block */
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 10px;
    width: 200px;
    /* Set a fixed width for each movie card */
}

.movie-image {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 10px;
}

.movie-title {
    font-size: 16px;
    margin-bottom: 5px;
}